@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');

.title {
    /* Text */
    width: 280px;
    height: 78px;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* or 39px */
    letter-spacing: -0.01em;

    /* Dark */
    color: #1E232C;
}

.text-input {
    height: 50px;
    background-color: #F7F8F9;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 125%;
}

.fgt-pass {
    float: right;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #6A707C;
}

.login-btn {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #1E232C;
    border-radius: 8px;
    width: 100%;
    height: 56px;
}

.create-acc-link {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #24282C;
    letter-spacing: 0.01em;
}

.create-acc {
    text-decoration: none;
}