<ion-app>
  
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom" style="padding-top: 10px;" id="testYYU" >
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <p>Home</p>
      </ion-tab-button>
      <ion-tab-button tab="book-list">
        <ion-icon name="wallet"></ion-icon>
        <p>Shop</p>
      </ion-tab-button>
      <ion-tab-button tab="my-books">
        <ion-icon name="book"></ion-icon>
        <p>Books</p>
      </ion-tab-button>
      <ion-tab-button tab="support-page">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <p>Info</p>
      </ion-tab-button>
      <ion-tab-button tab="privacy">
        <ion-icon name="document-lock"></ion-icon>
        <p>Privacy</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  
</ion-app>