<ion-header class="fixed-header">
  <ion-title>
    <img src="../../../../assets/images/login_logo.png" style="width: 100px;" alt="">
  </ion-title>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <h5>Bet Summery</h5>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="4" style="background-color: black; height: 30px; color: white;">{{ this.betSummeryInfoModel.U_SUM_VID_NAME }} - {{ this.betSummeryInfoModel.U_SUM_VID_DATE | date }}</td>
      </tr>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachData of this.betSummeryInfoModel.U_SUM_QUIZ">
        <td>{{ eachData.U_Q_NAME }}</td>
        <td>{{ eachData.U_Q_ANSWER }}</td>
        <td>{{ eachData.U_Q_BET_AMT }}</td>
        <td>{{ eachData.U_Q_BET_STATUS }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>