<ion-header class="fixed-header">
  <ion-title>
    <img src="../../../../assets/images/login_logo.png" style="width: 100px;" alt="">
  </ion-title>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <h5>Bet Summery</h5>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="4" style="background-color: black; height: 30px; color: white;">Sri Lanka vs Australia 2025-05-04 4.00pm</td>
      </tr>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Which Country is Win ?</td>
        <td>Sri Lanka</td>
        <td>50</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Who will be best bowler ?</td>
        <td>Vaas</td>
        <td>50</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Who will be best batsmen ?</td>
        <td>Sanath</td>
        <td>50</td>
        <td>Pending</td>
      </tr>
    </tbody>
  </table>
</ion-content>